<link href="~/css/loading.css" rel="stylesheet" />
@*<div id="loading" class="modal" tabindex="-1" role="dialog" data-backdrop="static">*@
<div id="loading" class="modal" tabindex="-1" role="dialog" data-backdrop="false" style="text-align:center">
    <div class="loader centrar-loading" style=" position: relative; top: 40%; margin: 0px auto;"></div>
</div>
