<div id="tokaCard" class="card" hidden>
    <div class="card-body">
        <table id="tableToka">
            <thead>
                <tr>
                    <th>IdCliente</th>
                    <th>Nombre</th>
                    <th>Paterno</th>
                    <th>Materno</th>
                    <th>RFC</th>
                    <th>FechaRegistroEmpresa</th>
                    <th>RazonSocial</th>
                    <th>Sucursal</th>
                </tr>
            </thead>
            <tbody id="body_tableToka"></tbody>
        </table>
        <button class="btn btn-outline-danger" id="tokaAtras">Atras</button>
    </div>
</div>